@using Microsoft.AspNetCore.Identity
@model IEnumerable<ReversiRestApi.Model.ISpelData>
@inject UserManager<IdentityUser> userManager

@{
    ViewData["Title"] = "index";

}

<h1>View</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                player one
            </th>
            <th>
                player two
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Omschrijving)
            </td>
            <td>
                
                @Html.DisplayFor(modelItem => userManager.FindByIdAsync( item.Speler1Token).Result.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => userManager.FindByIdAsync(item.Speler2Token).Result.Email)
            </td>

            <td>
                <a asp-action="Spel" asp-route-id="@item.Token">spel</a>
            </td>
        </tr>
}
    </tbody>
</table>
