@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@
@model ReversiRestApi.Model.Spel
@{

    ClaimsPrincipal currentUser = this.User;
            var currentUserID = currentUser.FindFirst(ClaimTypes.NameIdentifier).Value;

    int i = 0;
    string build = "";
    foreach (var st in Model.Bord)
    {

        build += "board.place(" + (i / Model.bordOmvang) + "," +  (i % Model.bordOmvang)+","+st+");";
        i++;
    }

}
    <link rel="stylesheet" href="~/css/scss/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="~/js/board.js">
    

    </script>
    <script src="~/js/AJAXReversiApi.js">

    </script>
<div id="game-container">
<h1>Game</h1>
<details>
    aandebeurt : @Model.AandeBeurt
</details>
<button onclick="PasZet()">Pas Zet</button>
<button onclick="Surrender()">geef op</button>
<div id="board-playing" class="">

</div>
</div>
<script>
    var finished = "false";

    function start() {
        var Wit =  "Wit";
        var Zwart =  "Zwart";
        var Geen =  "Geen";
        var b = document.getElementById("board-playing");
        b.append(board.create(8, 8,clickedSquare));
        @build
    }

    function clickedSquare(object){
        console.log(object.getAttribute("x"));
        console.log(object.getAttribute("y"));

         var x= $.ajax({
            url:'https://' + location.host + '/redirect/dozet/@currentUserID/@Model.Token/'+object.getAttribute("x")+'/'+object.getAttribute("y")+'',
            
            //data: '@Model.Token'
        }).done(function(){ console.log(x);});

        /*AJAXReversi.place(object.getAttribute("x"),object.getAttribute("y"),"@Model.Token");*/
    }

    function GetNewBord(){
    var x= $.ajax({
            url:'https://' + location.host + '/redirect/GetSpel/@Model.Token',
            
            //data: '@Model.Token'
            }).done(function(){
            //console.log(x);
            for(var i = 0; x.responseJSON.bord.length > i ; i++){
            //console.log(x.responseJSON.bord[i]);
            board.flip( Math.floor((i / @Model.bordOmvang)) ,  Math.floor((i % @Model.bordOmvang)) ,x.responseJSON.bord[i]);
            
            }

            setTimeout(GetNewBord,1000);
        
        });
    
    }
    
    GetNewBord();


    function PasZet(){
     var x= $.ajax({
            url:'https://' + location.host + '/redirect/DoPas/@Model.Token/@currentUserID/',
            
            //data: '@Model.Token'
            }).done(function(){
            console.log(x);
            
            console.log(x.responseJSON);
            //board.flip( Math.floor((i / @Model.bordOmvang)) ,  Math.floor((i % @Model.bordOmvang)) ,x.responseJSON.bord[i]);
            
            
      
        });
    
    
    }
    
        function Surrender(){
     var x= $.ajax({
            url:'https://' + location.host + '/redirect/Surrender/@Model.Token/@currentUserID/',
            
            //data: '@Model.Token'
            }).done(function(){
            console.log(x);
            
            console.log(x.responseJSON);
            //board.flip( Math.floor((i / @Model.bordOmvang)) ,  Math.floor((i % @Model.bordOmvang)) ,x.responseJSON.bord[i]);
            
            
      
        });
    
    
    }
    
    function CheckIfFinished(){
    
        var x= $.ajax({
            url:'https://' + location.host + '/redirect/Afgelopen/@Model.Token',
            
            //data: '@Model.Token'
            }).done(function(){
            console.log(x);
            
            console.log(x.responseJSON);
            //board.flip( Math.floor((i / @Model.bordOmvang)) ,  Math.floor((i % @Model.bordOmvang)) ,x.responseJSON.bord[i]);
            
            if(x.responseText == "true"){
                placeEndScreen();
            
            
            }else{
        
        setTimeout(CheckIfFinished,10000);
            }
        });
        }
        CheckIfFinished();

        function placeEndScreen(){
        var endscreen = '<div id="after-game-container"><div id="board-after-game" class=""></div><h1 id="gewonnen-header-1"><b id="gewonnen-bold"></b></h1><p id="speler1-naam"></p><p id="speler1-stand"></p><p id="speler2-naam"></p><p id="speler2-stand"></p><a href="/Spellen" id="return-button" class="button return"><button>return to find game</button></a></div>';
        document.getElementById('game-container').innerHTML = endscreen;

        var Wit =  "Wit";
        var Zwart =  "Zwart";
        var Geen =  "Geen";
        var b = document.getElementById("board-after-game");
        b.append(board.create(8, 8,clickedSquare));

        var x= $.ajax({
            url:'https://' + location.host + '/redirect/GetSpel/@Model.Token',
            
            //data: '@Model.Token'
            }).done(function(){
            //console.log(x);
            for(var i = 0; x.responseJSON.bord.length > i ; i++){
            //console.log(x.responseJSON.bord[i]);
            board.place( Math.floor((i / @Model.bordOmvang)) ,  Math.floor((i % @Model.bordOmvang)) ,x.responseJSON.bord[i]);
            
            }
            
        document.getElementById("speler1-naam").innerHTML = "@ViewData["speler1"]";
        document.getElementById("speler1-stand").innerHTML = Object.values(document.getElementsByClassName("board-green-square")).filter(t => t.children[0].getAttribute("color") == "Wit").length;
        document.getElementById("speler2-naam").innerHTML = "@ViewData["speler2"]";
        document.getElementById("speler2-stand").innerHTML = Object.values(document.getElementsByClassName("board-green-square")).filter(t => t.children[0].getAttribute("color") == "Zwart").length;

        document.getElementById("gewonnen-bold").innerHTML = Object.values(document.getElementsByClassName("board-green-square")).filter(t => t.children[0].getAttribute("color") == "Wit").length > Object.values(document.getElementsByClassName("board-green-square")).filter(t => t.children[0].getAttribute("color") == "Zwart").length ? "@ViewData["speler1"] heeft gewonnnen" : "@ViewData["speler2"] heeft gewonnnen"; 
            //setTimeout(GetNewBord,1000);
        
        });
        }
    
        
        


    
    start();
</script>
